.ant-layout {
  > .ant-layout-header {
    background-color: #fff;
    padding-left: 0;
    display: flex;
    border-bottom: 1px solid #f3f3f3;
    .ant-menu {
      width: 50%;
    }
    .logo {
      float: left;
      width: 176px;
      height: 31px;
      margin: 16px 24px 16px 0;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  > .header-fixed{
    position: fixed;
    z-index: 1;
    width: 100%;
    .content-user-dropdown {
      position: absolute;
      right: 5%;
    }
  }
  .ant-layout-has-sider {
    .sider-fixed {
      overflow: auto;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      margin-top: 64px;
      .ant-spin-nested-loading {
        &.custom-spinning {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      }
    }
  }
  .content-layout-section {
    min-height: calc(100vh - 64px);
  }
}


