@import "../assets/sass/variables";

.row-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  .ant-col:first-child {
    font-size: 36px;
    font-weight: 600;
    color: $primary-color;
    border-bottom: 2px solid;
  }
}